.idea/*
.vscode/*
build/*
dist/*
tests/**/*.csv
experimentation/.idea/*
experimentation/tests/*/*/logs/
*/*/__pycache__/*
*.pyc
experimentation/tests/archive/*
experimentation/fill/*
*.aux
tests/**/*.log
*.synctex.gz
*.out
*.tdo
.idea.bkp/*
logs.csv
fill/*
report/*.log
.ipynb*
