.idea/*
.vscode/*
build/*
dist/*
*.csv
experimentation/.idea/*
experimentation/tests/*/*/logs/
*/*/__pycache__/*
*.pyc
experimentation/tests/archive/*
experimentation/fill/*
*.aux
*.log
*.synctex.gz
*.out
*.tdo
.idea.bkp/*
*.ipynb*
